@import "~bootstrap/scss/bootstrap";

header {
    height: 5rem;
}

a {
    text-decoration: none;
}

ul.pagination {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.active-li {
    border-bottom: 3px solid #0282f9;
}